{% extends 'index.html' %}
{% block contenido%}
	<center><h4 class="alert alert-info"><strong>ELIMINAR CLIENTE </strong></h4></center>
	<br><br>
	<h3>¿Está seguro de eliminar el Cliente {{cliente.nombres}} {{cliente.apellidos}} ? </h3>
	<br>
	<label class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> Se eliminara todos los datos y cuentas del cliente...</label><br>
	<a href="../eliminarCliente?cedula={{cliente.cedula}}" class="btn btn-success"> Sí, estoy seguro</a>
	<a href="../../caja">
		 <button class="btn btn-danger">
		 	No, por ahora 
		 </button>
	 </a>
	</h3>
		
{% endblock contenido %}