{% extends 'index.html' %}
{% block contenido%}
	<center>
		<strong>
			<h3 class="alert alert-info">INGRESO AL SISTEMA</h3>
		</strong>
	</center>
	<form  role="form" id='formulario' method='POST' action=''>
  		{% csrf_token %}
	  	<div class="form-group">	  		
			<center>
				{{form.as_p}}
				<button class="alert alert-success" >INGRESAR
		 			<span class="glyphicon glyphicon-log-in"></span> 
		 		</button>
		 		<br>
		 		{% if messages %}
					{% for msg in messages %}	
						<label class="alert alert-danger"><span class=" glyphicon glyphicon-alert"></span> {{msg}}</label><br>
					{% endfor %}
				{% endif %}
			</center>
		</div>
	</form>
{% endblock contenido %}