{% extends 'index.html' %}
{% block contenido%}
	<meta charset="utf-8">
	<center>
		<h4 class="alert alert-info"><strong>REPORTE DEL CLIENTE </strong></h4>
	</center>
	<P class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> Recuerde que todos los campos son obligatorios...</P>
	<div>
	<a href="../../caja">
		 <button class="btn btn-info">
		 	<span class="glyphicon glyphicon-arrow-left"></span>	 
	 		<span class="glyphicon glyphicon-list"></span>	 			
	 	</button>
	 </a>
	
{% endblock contenido %}
